* {
  outline: 1px solid black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 960px;
    flex-direction: row;
}

.child {
    width: 96px;
    height: 96px;
    background-color: gray;
    flex-wrap: wrap;
    flex-direction: row;
    
  
}